/*页面底部*/
ul{
    list-style: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.footer{
    height: 508px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    background-color: #2B2B2B;
}
.footer a{
    text-decoration: none;
    color: #666666;
}
.friendly{
    display: flex;
    padding-bottom: 40px;
    margin: 79px auto 0px auto;
    border-bottom: 1px solid #5E5E5E;
}
.friendly li:first-child{
    font-size: 18px;
    color: #5E5E5E;
}
.friendly li a{
    display: block;
    margin: auto 12px;
    text-decoration: none;
    color: #666666;
}
.footer_nav{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.footer_nav_logo span,.footer_nav_link ul li a,.footer_nav_qr span{
    display: block;
    text-decoration: none;
    height:21px;
    font-family:Microsoft YaHei;
    color:#666666;
    font-size:16px;
}
.footer_nav_logo{
    width: 335px;
    margin-top: -20px;
}
.footer_nav_logo span{
    margin-top: 20px;
}
.footer_nav_logo img{
    margin-left: 29px;
    width: 100%;
}
.footer_nav_link{
    display: flex;
    align-items: center;
}
.footer_nav_link ul{
    display: flex;
    width: 365px;
    margin-top: -20px;
    justify-content: space-between;
}
.footer_nav_qr{
    width: 105px;
}
.footer_nav_qr img{
    height: 100px;
    width: 100px;
    margin-top: 18px;
    margin-bottom: 23px;
}
.footer_nav_qr span{
    text-align: center;
    width: 100%;
}
#footer_hotline{
    height: 21px;
    font-family: Microsoft YaHei;
    color: #00a3fe;
    font-size: 16px;
    margin-top: 6px;
}
.record{
    margin: auto auto 0px auto;
    padding-bottom: 20px;
    color: #5E5E5E;
    border-top: 1px solid #5E5E5E;
    padding-top: 20px;
}
.record>div{
    width: fit-content;
    margin: auto;
}
.record>div .copyright{
    width: 164px;
    margin-right: 64px;
}
@media (max-width:768px){
    .footer{
        height: 198px;
    }
    .friendly,.footer_nav,.record{
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer_nav_link,.footer_nav_qr img,.footer_nav_logo span,
    .footer_nav_qr span:first-child,.record>div span:last-child{
        display: none;
    }
    .copyright,.footer_nav_qr span,#footer_hotline{
        height: 17px;
        font-size: 12px;
    }
    .friendly{
        padding-bottom: 20px;
        margin-top: 16px;
        height: 50px;
        overflow: hidden;
    }
    .friendly li a{
        height: 17px;
        margin: auto 8px;
        width:52px;
        font-family: Microsoft YaHei;
        color: #666666;
        font-size: 13px;
        text-align: center;
    }
    .friendly li:nth-child(n+6){
        display: none;
    }
    .friendly li:first-child{
        height: 21px;
        white-space: nowrap;
        font-family: Microsoft YaHei;
        color: #666666;
        font-size: 16px;
        text-align: center;
    }
    .footer_nav_logo img{
        width: 89px;
        height: 18px;
        margin-left: 0px;
    }
    .record{
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .record > div .copyright{
        width: 100% ;
        color:#666666;
        text-align: center;
        margin-right: 0px;
        margin: auto;
    }
}
/*以上是复制过来的代码*/
/* 主体 */
body{
    overflow-x: hidden;
}
.about_mian{
    width: 100%;
    background-color: #fff;
    padding-top: 120px;
}
.about_mian_top{
    text-align: center;
}
.about_mian_top h2{
    height: 47px;
    font-family: Microsoft YaHei;
    font-weight: 700;
    color: #3e3a36;
    font-size: 36px;
    text-align: center;
}
.about_mian_top span{
    height: 19px;
    font-family: Microsoft YaHei;
    display: block;
    margin-bottom: 62px;
    margin-top: 22px;
    color: #3e3a36;
    font-size: 16px;
    text-align: center;
}
.about_content{
    margin-bottom: 120px;
}
.about_content>img{
    width: 100%;
}
.about_intro{
    display: flex;
    padding-top: 22px;
    padding-bottom: 27px;
    justify-content: space-between;
    box-shadow: 0px 5px 10px rgba(223, 226, 235, 1)
}
.about_intro article{
    width: 641px;
    padding-left: 60px;
    margin-top: 83px;
}
.about_intro article p{
    font-family: Microsoft YaHei;
    color: #444444;
    font-size: 14px;
    margin-bottom: 0px;
}
.about_intro img{
    width: 431px;
    height: 431px;
    margin-right: 76px;
}
/* 自媒体查询 */
@media(max-width:768px){
    .about_mian_top h2{
        height: 24px;
        font-family: Microsoft YaHei;
        color: #444444;
        font-size: 18px;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
    }
    .about_content{
        margin-bottom: 0px;
    }
    .about_content>img{
        height: 201px;
    }
    .about_mian_top span{
        height: 18px;
        font-family: Microsoft YaHei;
        color: #999999;
        font-size: 14px;
        margin-bottom: 20px;
        margin-top: 6px;
        line-height: 16px;
        text-align: center;
    }
    .about_intro{
        box-shadow: none;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .about_intro img{
        display: none;
    }
    .about_intro article{
        width: 100%;
        margin-top: 0px;
        padding-left: 0px;
    }
}