/*样式重置*/

* {
    margin: 0;
    padding: 0;
}

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    padding-inline-start: 0px;
}
img {
    border: none;
    vertical-align: middle;
}
a ,a:hover{
    text-decoration: none!important;
    color: black ;
}
i {
    font-style: normal;
}
input,
button {
    margin: 0;
    padding: 0;
    outline: none;
}

/*公共页面宽度*/
.public_width {
    width: 1400px;
    margin: auto;
}

@media (max-width:1400px){
    .public_width {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}